body, #answer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #answer-buttons {
    display: flex;
    align-items: center;
} */

.hide {
    display: none;
}